// Widths
$mobile: 375px;
$desktop: 1440px;

// Colours
// // Primary
$pink: hsl(322, 100%, 66%);
// // Neutral
$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

// Typography
// // Headings
$heading-font: 'Poppins', sans-serif;
$heading-weight: 600;

// // Body
$body-font: 'Open Sans', sans-serif;
$body-weight: 400;
$bold-weight: 700;
$body-size: 18px;